<div class="top-wrapper" id="topBar">
  <div class="search-wrapper">
    <i class="search-icon"></i>
    <input class="search-control form-control" placeholder="Search notes" id="notesSearchTextbox" />
  </div>
  <button class="btn btn-primary" id="newNoteButton">New Note</button>
</div>

<section class="list-container" id="listContainer">
  <div class="row" id="notesList">
    <!-- note cards will be laoded here -->
  </div>

  <div class="list-empty-info my-5">
    <div class="text-center text-light">
      Notes vault is empty
    </div>
  </div>

  <div class="list-loading-info my-5">
    <div class="text-center text-light">
      Loading...
    </div>
  </div>

</section>