<article class="card shadow" id="{{id}}">
  <div class="card-body">
    <div class="d-flex">
      <div>
        <label class="card-subtitle view-control" data-field="domain">{{domain}}</label>
        <input class="form-control form-control-sm edit-control mb-3" type="text" value="{{domain}}" name="domain"
          placeholder="Domain/Title" />
      </div>
      <div class="controls ml-auto">
        <button class="app-btn btn-show-info view-control" title="Show password">
          <i class="fas fa-eye"></i>
        </button>
        <button class="app-btn btn-hide-info view-control" title="Hide password">
          <i class="fas fa-eye-slash"></i>
        </button>
        <button class="app-btn btn-copy-info view-control" title="Copy password">
          <i class="fas fa-copy"></i>
        </button>
        <button class="app-btn btn-edit-info view-control modify-trigger" title="Edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="app-btn btn-delete-info view-control modify-trigger" title="Delete">
          <i class="fas fa-trash"></i>
        </button>
        <button class="app-btn btn-save-info edit-control" title="Save">
          <i class="fas fa-check"></i>
        </button>
        <button class="app-btn btn-cancel-info edit-control" title="Cancel">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card-title view-control" data-field="email">{{email}}</div>
        <input class="form-control edit-control" type="text" value="{{email}}" name="email"
          placeholder="Email/Username/Phone" />
      </div>
      <div class="col-sm-6">
        <div class="sensitive-info">
          <input class="form-control text-primary" type="password" value="{{password}}" name="password"
            placeholder="Password" readonly />
        </div>
      </div>
    </div>

    <div class="deleting-control">
      <button class="app-btn btn-undo-delete">
        <i class="fas fa-undo me-1"></i> UNDO
      </button>
    </div>
  </div>
</article>