.app-btn {
  border: none;
  background: none;
  color: var(--text-color);
}

.form-control, .form-control:active, .form-control:focus, .form-control:read-only {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.form-control::placeholder {
  color: var(--text-light-color);
}

.btn {
  transition: all 0.1s ease;
}

.btn-primary {
  color: var(--text-color);
  background-color: var(--primary-color-2);
  border-color: var(--primary-color-2);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: var(--primary-color-3);
  border-color: var(--primary-color-3);
  box-shadow: none;
  outline: 0;
}

.btn-primary:active {
  box-shadow: inset 0 .1rem .25rem rgba(0, 0, 0, 0.5) !important;
}

.top-wrapper {
  display: flex;
  /* margin-bottom: 1.25rem; */
  position: sticky;
  top: -1.5rem;
  z-index: 1;
  padding: 1.25rem 0;
  margin-top: -1.5rem;
  background-color: var(--canvas-color);
}

.top-wrapper .search-wrapper {
  flex: auto 1 0;
  margin-right: 1.25rem;
  background-color: var(--theme-color-3);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

.top-wrapper .search-wrapper .search-icon {
  width: 14px;
  height: 14px;
  background-image: url(../assets/icons/search_dark.svg);
  background-size: 14px;
  background-position: center;
}

.top-wrapper button {
  flex: auto 0 0;
}

.top-wrapper .search-wrapper i {
  font-size: 0.9em;
  margin-right: .5rem;
}

.top-wrapper .search-control, .top-wrapper .search-control:active, .top-wrapper .search-control:focus {
  box-shadow: none;
  position: relative;
  top: -0.05rem;
}

.text-light {
  color: var(--text-light-color) !important;
}

.text-primary {
  color: var(--primary-color-1) !important;
}

/* Common component styles */

.list-container .list-loading-info, .list-container .list-empty-info,
.list-container .card:not(.editing) .edit-control, .list-container .card.editing .view-control,
.list-container .card .deleting-control, .list-container .card.deleting .controls, .controls button.btn-hide-info,
.list-container .card.shown .controls button.btn-show-info, .list-container.editing .modify-trigger {
  display: none;
}

.top-wrapper.editing {
  opacity: .25;
  cursor: not-allowed;
  pointer-events: none;
}

.list-container.list-loading .list-loading-info, .list-container.list-empty .list-empty-info {
  display: block;
}

.list-container .card {
  background-color: var(--theme-color-1);
  position: relative;
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.25s ease;
  overflow: hidden;
}

.list-container .card.slide {
  opacity: 1;
  transform: translateY(0%);
}

.list-container .card.shown {
  border-color: var(--primary-color-2)
}

.list-container .card.copied, .list-container .card.shown.copied {
  border-color: var(--success-color-2)
}

.list-container .card.editing {
  border-color: var(--warning-color-2);
}

.list-container .card.shadow {
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 1) !important;
}

.list-container .card.search-hide {
  height: 0;
  border-width: 0;
  margin-bottom: 0;
}

.list-container .card-title {
  margin-bottom: 0;
}

.list-container .card-subtitle {
  color: var(--text-light-color);
  font-size: 0.9em;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: var(--theme-color-1)
}

.list-container .card:hover .controls, .list-container .card.editing .controls {
  opacity: 1;
}

.controls button {
  padding: 0;
  opacity: 0.75;
  transition: all 0.15s ease;
  color: var(--text-light-color);
}

.controls button.btn-cancel-info, .controls button.btn-delete-info {
  color: var(--danger-color-2);
}

.controls button.btn-cancel-info:hover, .controls button.btn-delete-info:hover {
  color: var(--danger-color-1);
}

.controls button.btn-save-info {
  color: var(--success-color-2);
}

.controls button.btn-save-info:hover {
  color: var(--success-color-1);
}

.controls button:hover {
  opacity: 1;
}

.controls button+button {
  margin-left: .5rem;
}

.controls button i {
  font-size: .9rem;
}

.list-container .card.shown .form-control {
  background-color: var(--theme-color-2);
  padding: 0.15rem .75rem;
  opacity: 1;
}

.list-container .card.editing .form-control {
  background-color: var(--canvas-color) !important;
  color: var(--text-color) !important;
  box-shadow: inset 0 -0.25rem 0.5rem 0 rgb(0 0 0) !important;
}

.list-container .card.deleting {
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 5px,
      rgb(255 0 0 / 0.25) 5px,
      rgb(255 0 0 / 0.25) 10px);
  border-color: rgb(154 2 2);
  transition: opacity 8s ease;
  opacity: 0.25 !important;
  animation: destroy 0.3s ease;
  animation-delay: 4.7s;
  transform: translateX(0%);
}

.list-container .card .deleting-control {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.list-container .card.deleting .deleting-control {
  display: inline-block;
}

.btn-undo-delete {
  background-color: var(--theme-color-1);
  font-size: 0.9em;
  padding: .5rem .75rem;
  border-radius: .25rem;
  border: 1px solid rgb(154 2 2);
}

.btn-undo-delete:hover {
  background-color: var(--danger-color-3);
}

@keyframes destroy {
  100% {
    transform: translateX(100%) scaleY(0);
    height: 0;
    margin-bottom: 0;
  }
}